CompileFlags:
  Add: [-Wall, -pedantic, -std=c++20]
Diagnostics:
  ClangTidy:
    Add: [
        bugprone*,
        # readability*,
      ]
    Remove: [
        bugprone-easily-swappable-parameters,
        bugprone-exception-escape
        # readability-identifier-length,
        # readability-magic-numbers,
        # readability-implicit-bool-conversion,
        # readability-else-after-return,
      ]
